.navbar-custom {
    border: none;
    background-color: #00796B;
}

.accent-background {
    background-color: #FF5252;
    color: #fff;
}

.navbar-custom a {
    color: #fff !important;
}

.introduction {
    margin-top: 39px;
}

.search-flights-container {
    max-width: 700px;
}

.search-flight-btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.space-below {
    margin-bottom: 26px;
}

.blank-container {
    border-radius: 1%;
    margin-top: 56px;
    padding: 8px 36px 36px;
    background-color: #fefefe;
}