.navbar-custom {
    border: none;
    background-color: #008542;
}

.navbar-custom a {
    color: #fff !important;
}

.introduction {
    margin-top: 39px;
}

.search-flights-container {
    max-width: 700px;
}