.navbar-custom {
    border: none;
    background-color: #00796B;
}

.navbar-custom a {
    color: #fff !important;
}

.introduction {
    margin-top: 39px;
}

.search-flights-container {
    max-width: 700px;
}

.search-flights-btn {
    background-color: #FF5252;
    color: #fff;
}